.foot {
    background-color: rgb(14, 14, 14);
    color: rgb(255, 255, 255);
    margin-top: 10%;
    padding: 100px 70px 100px 70px;
    text-align: center;
    z-index: 9999;


}

@media only screen and (max-width: 600px) {
    .foot h4 {
        font-size: 14px;
    }
}